CLIENT_ID = "YOUR_APPLICATION_ID"
CLIENT_SECRET = "YOUR_CLIENT_SECRET"
CLIENT_URL = http://localhost:3000
SERVER_URL = http://localhost:3001
PORT = 3001
SESSION_KEY = "YOUR_SESSION_KEY"
DB_CONLINK = "postgresql://YOUR_DB_USER:YOUR_DB_PASS@localhost:5432/rdgUserSaves"
